---
import IconMoon from '../components/icons/IconMoon.astro'
import IconSun from '../components/icons/IconSun.astro'
import IconGitHub from './icons/IconGitHub.astro'
import IconLanguage from '../components/icons/IconLanguage.astro'
import IconLinkedin from './icons/IconLinkedin.astro'

---
<div class="fixed w-full top-0 p-4 z-10 bg-white opacity-90 mb-3 dark:bg-slate-900">

        <nav class="flex w-full justify-center">

            <div class="flex w-full sm:justify-start items-center">
                <a href="cvdeveloper-spa-jsm.pdf" target="_blank" class="bg-blue-950 text-white p-2 rounded dark:bg-blue-700 hover:transition-transform duration-300 transform hover:scale-105">
                    <span class="hidden lg:inline">Curriculum Vitae</span>
                    <span class="lg:hidden">CV</span>
                </a>
            </div>
            

            <div class="flex w-full gap-2 sm:justify-end items-center sm:gap-6">

                <div class="flex gap-2 dark:text-white ">
                    <a href="#Home" class="hover:text-blue-700 transition-transform duration-300 transform hover:scale-105">Home</a>
                    <!-- <a href="#Projects" class="hover:text-blue-700 transition-transform duration-300 transform hover:scale-105">Projects</a> -->
                    <a href="#Contact" class="hover:text-blue-700 transition-transform duration-300 transform hover:scale-105">Contacto</a>
                </div>

                <div class="flex gap-2 sm:gap-6">

                    <ul class="flex justify-center gap-2">
                        <a href="https://www.linkedin.com/in/juanshinkamendez/"> <IconLinkedin class="size-6 transition-transform duration-300 transform hover:scale-105"></a>
                        <a href="https://github.com/juanshink" target="_blank"><IconGitHub class="size-6 transition-transform duration-300 transform hover:scale-105"></a>
                            
                    </ul>

                    <button id="darkmode" class="flex justify-center">
                        <IconMoon class="moon-icon transition-transform duration-300 transform hover:scale-105" />
                        <IconSun class="sun-icon hidden transition-transform duration-300 transform hover:scale-105" />
                    </button>
                    
                </div>
            </div>

        </nav>
</div>

<script>
const darkModeButton = document.getElementById('darkmode');
const prefersDarkMode = window.matchMedia && window.matchMedia('(prefers-color-scheme: dark)').matches;

document.documentElement.classList.toggle('dark', prefersDarkMode);

const moonIcon = document.querySelector('.moon-icon');
const sunIcon = document.querySelector('.sun-icon');

if (prefersDarkMode) {
    moonIcon?.classList.add('hidden');
    sunIcon?.classList.remove('hidden');
} else {
    moonIcon?.classList.remove('hidden');
    sunIcon?.classList.add('hidden');
}

darkModeButton?.addEventListener('click', () => {
    document.documentElement.classList.toggle('dark');

    if (document.documentElement.classList.contains('dark')) {
        moonIcon?.classList.add('hidden');
        sunIcon?.classList.remove('hidden');
    } else {
        moonIcon?.classList.remove('hidden');
        sunIcon?.classList.add('hidden');
    }
});

</script>